<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.istore.bitblue.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".loginScreen.LoginPage"
            android:label="@string/title_activity_login_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginScreen.HomePage" />
        <activity
            android:name=".listMyStock.ListMyStock"
            android:parentActivityName=".loginScreen.HomePage" >
        </activity>
        <activity
            android:name=".addItems.AddItems"
            android:parentActivityName=".loginScreen.HomePage" />
        <activity
            android:name=".sellItems.SellItems"
            android:parentActivityName=".loginScreen.HomePage" />
        <activity
            android:name=".viewSoldItems.ViewSoldItems"
            android:parentActivityName=".loginScreen.HomePage" />
        <activity
            android:name=".addItems.AddItemForm"
            android:parentActivityName=".addItems.AddItems">
        </activity>
    </application>

</manifest>
