<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.istore.bitblue.app" >

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="in.istore.bitblue.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.istore.bitblue.app.permission.C2D_MESSAGE" />

    <application
        android:name=".utilities.GlobalVariables"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Receiver For GCM Notiications -->
        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="in.istore.bitblue.app" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".loginScreen.LoginPage"
            android:label="@string/name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login"
            android:screenOrientation="portrait" />
        <activity android:name=".home.HomePage" />
        <activity
            android:name=".listStock.ListMyStock"
            android:parentActivityName=".home.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addItems.AddItemsMenu"
            android:parentActivityName=".home.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sellItems.SellItemsMenu"
            android:parentActivityName=".home.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".soldItems.ListSoldItems"
            android:parentActivityName=".home.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addItems.AddItemForm"
            android:parentActivityName=".addItems.AddItemsMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sellItems.SellItem"
            android:parentActivityName=".listStock.ListMyStock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".soldItems.ViewSoldItem"
            android:parentActivityName=".soldItems.ListSoldItems"
            android:screenOrientation="portrait" />
        <activity
            android:name=".data.ImportData"
            android:parentActivityName=".home.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".data.ExportData"
            android:parentActivityName=".home.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FileChooser.FileDialog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listStock.ViewStockItems"
            android:parentActivityName=".addItems.AddItemsMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sellItems.EditItemForm"
            android:parentActivityName=".listStock.ListMyStock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".soldItems.SoldItemForm"
            android:parentActivityName=".listStock.ListMyStock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cloudprint.CloudPrint"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginScreen.SignUpAdmin"
            android:parentActivityName=".loginScreen.LoginPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginScreen.StoreName"
            android:parentActivityName=".home.HomePage" />
        <activity android:name=".loginScreen.GooglePlus" />
        >
        <activity
            android:name=".adminMenu.staffMgmt.StaffMgntContent"
            android:parentActivityName=".home.HomePage" />
        <activity
            android:name=".adminMenu.suppInfo.SuppInfoContent"
            android:parentActivityName=".home.HomePage" />
        <activity
            android:name=".adminMenu.transactions.Trans"
            android:parentActivityName=".home.HomePage" />
        <activity
            android:name=".adminMenu.custInfo.CusInfoContent"
            android:parentActivityName=".home.HomePage" />
        <activity
            android:name=".category.Categories"
            android:parentActivityName=".home.HomePage" />
        <activity
            android:name=".category.products.ProSubCat"
            android:parentActivityName=".category.Categories" />
        <activity
            android:name=".cart.Cart"
            android:parentActivityName=".soldItems.SoldItemForm" />
        <activity
            android:name=".adminMenu.transactions.totalrevenue.TotalRevSelectRange"
            android:parentActivityName=".adminMenu.transactions.Trans" />
        <activity
            android:name=".adminMenu.transactions.todaysales.TodaySales"
            android:parentActivityName=".adminMenu.transactions.Trans" />
        <activity
            android:name=".adminMenu.transactions.outofstock.OutOfStock"
            android:parentActivityName=".adminMenu.transactions.Trans" />
        <activity
            android:name=".adminMenu.transactions.totalrevenue.TotalRevViewDetails"
            android:parentActivityName=".adminMenu.transactions.totalrevenue.TotalRevSelectRange" />
        <activity
            android:name=".adminMenu.transactions.totalrevenue.filterby.FilterByProdName"
            android:parentActivityName=".adminMenu.transactions.totalrevenue.TotalRevViewDetails" />
        <activity
            android:name=".adminMenu.transactions.totalrevenue.filterby.FilterByStaffId"
            android:parentActivityName=".adminMenu.transactions.totalrevenue.TotalRevViewDetails" />
        <activity
            android:name=".staffMenu.transactions.TransStaff"
            android:parentActivityName=".home.HomePage" />
        <activity
            android:name=".staffMenu.custInfo.CusInfoForStaffContent"
            android:parentActivityName=".home.HomePage" />
        <activity
            android:name=".staffMenu.transactions.todaysales.TodaySalesStaff"
            android:parentActivityName=".staffMenu.transactions.TransStaff" />
        <activity
            android:name=".invoice.Invoice"
            android:parentActivityName=".listStock.ListMyStock" />
        <activity
            android:name=".loginScreen.StaffMobile"
            android:parentActivityName=".loginScreen.LoginPage" />
        <activity
            android:name=".loginScreen.ForgotPass"
            android:parentActivityName=".loginScreen.LoginPage" />
    </application>

</manifest>
